@media only screen and (max-width: 6000px){
    :root{
        --maintem:rgb(83, 5, 60);
        --m:hsl(254, 100%, 8%);
        --vred:0;
        --vgreen:0;
        --vblue:0;
        --maincolo:20;
        --vcolor:white;

    }
    .maine{
        padding: 10px;
        margin: 0 auto;
        margin-top: 20px;
        height: 700px;
        text-align: center;
        position: relative;

    }
    .regester{
        position: absolute;
        height: 490px;
        width: 290px;
        border: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1);
        top: 20%;
        right: calc(50% - 145px);
        border-radius: 15px;
        background:rgba(var(--vred),var(--vgreen),var(--vblue),.7);
    }
    .nametable{
        position: absolute;
        top: 5px;
        width: 270px;
        height: 380px;
        right: 10px;

    }
    .regesterbuttonsave{
        width: 120px;
        height: 50px;
        border-top: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1) ;
        border-right: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1) ;
        border-left: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1) ;
        border-bottom: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1);
        position: absolute;
        border-radius: 10px;
        background-color: var(--vcolor);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 85%;
        top: 85%;
        right: 7%;
    }
    .regesterbuttoncancel{
        width: 120px;
        height: 50px;
        border-top: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1) ;
        border-right: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1) ;
        border-left: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1) ;
        border-bottom: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1);
        position: absolute;
        margin-right: calc(40% + 30px);
        border-radius: 10px;
        margin-top: 0px;
        background-color: var(--vcolor);
        font-family: Tahoma;
        font-size: 90%;
        top: 85%;
        right: 3%;
    }
    .textobject {
        position: absolute;
        width: 100%;
        top: 5%;
        font-family:Tahoma;
        color: black;
        text-align: center;
        font-size: xx-large;
    }
    .texbutton {
        width: 40px;
        height: 40px;
        position: relative;
        right: 2px;
        border: 3px grey solid;
        border-radius: 5px;
        
    }
    .box {
        color: var(--vcolor);
        font-family: tahoma;
        font-size: 90%;
        top: 1px;
        text-align: right;

    }
    .imgmaine {
        position: relative;
        width: 100%;
        height: 100%;
    }

}