:root{
    --maintem:rgb(191, 191, 191);
    --m:hsl(308, 16%, 46%);
    --vred:191;
    --vgreen:191;
    --vblue:191;
    --maincolo:20;
    --vcolor:white;

}
.maine{
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    height: 700px;
    text-align: center;
    position: relative;

}
.imgmaine {
    position: relative;
    width: 100%;
    height: 100%;
}

.textobject {
    position: absolute;
    width: 100%;
    top: 0px;
    font-family:Tahoma;
    color: black;
    text-align: center;
    font-size: xx-large;
}
.calanderheadyear{
    height: 50px;
    width: 100px;
    border: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),.7);
    position: absolute;
    top: 50px;
    right: calc(50% - 50px);
}  
.yeartabel{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-color: var(--vcolor);
    font-family: thoma;
    font-size: 150%;
    text-align: center;
    top: 0;
    left: 0px;

}
.calanderhead{
    height: 50px;
    width: calc(6*8px + 45*7px);
    border: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1);
    border-radius: 15px;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),.7);
    position: absolute;
    top: 150px;
    right: calc(50% - 182px);
}   
.monthup{
    width: 6%;
    height: 30%;
    margin-top: 1%;
    margin-right: 5%;
    font-size: 150%;
    color: black;
    display: inline-block;        
    position: absolute;
    right: 5px;
    top: 8px;
}
.monthdown{
    width: 8%;
    height: 39%;
    margin-top: 5%;
    margin-right: 87%;
    font-size: 150%;
    color: black;
    display: inline-block;
    transform: rotateZ(180deg);
    position: absolute;
    left: 10px;
    top: 17px;

}
.btnmounthup {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right:6px;
    border:rgba(var(--vred),var(--vgreen),var(--vblue),0);
    border-radius: 7px;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);

}
.btnmounthdown {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right:315px;
    border:rgba(var(--vred),var(--vgreen),var(--vblue),0);
    border-radius: 7px;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);

}

.monthtext{
    width: 6%;
    height: 30%;
    margin-top: 1%;
    margin-right: 43%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    color: black;
    display: inline-block;
    position: absolute;
    right: 0px;
}
.calandeer{
    height: 378px;
    width: calc(6*8px + 45*7px);
    border: 3px solid rgba(var(--vred),var(--vgreen),var(--vblue),1);
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),.7);
    position: absolute;
    top: 200px;
    right: calc(50% - 182px);

}
.clum1 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;
    font-family:Tahoma;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 110%;
    font-style: oblique;
}
.clum2 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;    
}
.clum3 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;
}
.clum4 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;
}
.clum5 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;
}
.clum6 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;
}
.clum7 {
    width: 100%;
    height: 54px;
    position: relative;
    top: px;
}

.box1 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right:6px;
    border: 2px white solid;
    border-radius: 7px;
}
.box2 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: calc(6px + 6px + 45px);
    border-radius: px;
    border: 2px white solid;
    border-radius: 7px;
}
.box3 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: calc(6px + 12px + 45*2px);
    border: 2px white solid;
    border-radius: 7px;
}
.box4 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: calc(6px + 18px + 45*3px);
    border: 2px white solid;
    border-radius: 7px;
}
.box5 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: calc(6px + 24px + 45*4px);
    border: 2px white solid;
    border-radius: 7px;
}
.box6 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: calc(6px + 30px + 45*5px);
    border: 2px white solid;
    border-radius: 7px;
}
.box7 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: calc(6px + 36px + 45*6px);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 7px;
}
.btn1 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.btn2 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.btn3 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.btn4 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.btn5 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.btn6 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.btn7 {
    position: relative;
    border: 0px ;
    width: 100%;
    height: 100%;
    background:rgba(var(--vred),var(--vgreen),var(--vblue),0);
}
.textweek {
    font-family:Tahoma;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 200%;
    margin: 0 auto;
    top: 2px;

}

