{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "css/add-cantact.css" %}">
    <title>Document</title>
</head>
<body dir="rtl" >
    <div class="maine">
        <img class="imgmaine" src="{% static "img/massage2.jpg" %}" alt="addcantact">
        <p class="textobject">
            فرم ثبت نام
        </p>
        <div class="regester">
            <form action="" class="nametable" method="POST">
                  {% csrf_token %}
                <div class="box">
                    <p class=>
                        نام:
                    </p>
                        <input type="text" size="11">
                </div>
                <div class="box">
                    <p class=>
                         نام خانوادگی:
                    </p>
                        <input type="text" >
                </div>
                <div class="box">
                    <p class=>
                         کدملی:
                    </p>
                        <input type="number" maxlength="10">
                </div>
                <div class="box">
                    <p class=>
                         تلفن:
                    </p>
                        <input type="number" >
                </div>
                <div class="box">
                    <p class=>
                        تاریخ تولد:
                    </p>
                    <input type="text" disabled placeholder="{{ berthday_shamsi }}">
                    <input type="text" disabled placeholder="{{ berthday_miladi }}">
                        <button class="texbutton" name="addcantact" value="accept">
                            تقویم
                        </button >
                </div>


            <</form>
            <button class="regesterbuttonsave">
                ارسال
            </button>
            <button class="regesterbuttoncancel">
                بازگشت
            </button>

        </div>
    </div>
    
</body>
</html>