{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="/addcantact">
            <p class="textnavbarprofile">
                پروفایل من
            </p>
            <img class="imgnavbarprofile" src="{% static "img/user.png" %}" alt="user">
        </a>
        <a href="">
            <img class="imgnavbarmenuo" src="{% static "img/menuo.png" %}" alt="menuo">
            <p class="textnavbarmenuo">
                منو
            </p>
        </a>
    </div>
    <div class="manislidermenuo">
        <div class="menuo">
            <div id="cssmenu">
              <ul>
               <li><a href="#"><span>خانه</span></a></li>
               <li class="active"><a href="#"><span>آموزش »</span></a>
                <ul>
                 <li><a href="#"><span>HTML »</span></a>
                  <ul>
                   <li><a href="#"><span>تگ های HTML</span></a></li>
                   <li><a href="#"><span>صفات HTML</span></a></li>
                  </ul>
                 </li>
                 <li><a href="#"><span>CSS »</span></a>
                  <ul>
                   <li><a href="#"><span>انتخابگرهای CSS</span></a></li>
                   <li><a href="#"><span>ویژگی های CSS</span></a></li>
                  </ul>
                 </li>
                </ul>
               </li>
               <li><a href="#"><span>درباره من</span></a></li>
               <li><a href="#"><span>تماس با من</span></a></li>
              </ul>
            </div>
        </div>   
      
        <div class="mainslide">
            <div class="slideshow-container">

                <div class="mySlides fade">
                <img class="imgslidsho" src="{% static "img/team1.jpg" %}" >
                </div>

                <div class="mySlides fade">
                <img class="imgslidsho" src="{%  static "img/massage2.jpg" %}" >
                </div>

                <div class="mySlides fade">
                <img class="imgslidsho" src="http://articles.tahlildadeh.com/image.axd?picture=3_7.jpg" >
                </div>

            </div>
            <br>

            <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </div>
        </div>
    </div>
    <div id="gap1">
        <p class="textgap1">
            خدمات ما
        </p>
    </div>

    <a href="">
        <div id="doctor">
            <img class="imgdoctorlaserficial" src="{% static "img/team2.jpg" %}" alt="doctor">
            <div class="boxdoctormassagefisial">
                <p class="textdoctorficialmassge">
                    خدمات پزشکی
                </p>
            </div>
        </div>
    </a>

    <a href="">
        <div id="ficial">
            <img class="imgdoctorlaserficial" src="{%  static  "img/ficial.jpg" %}" alt="doctor">
            <div class="boxdoctormassagefisial">
                <p class="textdoctorficialmassge">
                    فیشیال و پاکسازی
                </p>
            </div>
        </div>
    </a>

    <a href="">
        <div id="massage">
            <img class="imgdoctorlaserficial" src="{%  static "img/massage1.jpg" %}" alt="doctor">
            <div class="boxdoctormassagefisial">
                <p class="textdoctorficialmassge">
                    ماساژ
                </p>
            </div>
        </div>
    </a> 

    <div id="gap2"></div>

    <a href="">
    <div id="laser">
        <img class="imgdoctorlaserficial" src="{%  static "img/massage1.jpg" %}" alt="doctor">
        <div class="boxdoctormassagefisial">
            <p class="textdoctorficialmassge">
                لیزر موهای زائد
            </p>
        </div>
    </div>
    </a>

    <a href="">
        <div id="mahsolat">
            <img class="imgdoctorlaserficial" src="{%  static "img/team3.jpg" %}" alt="doctor">
            <div class="boxdoctormassagefisial">
                <p class="textdoctorficialmassge">
                    محصولات
                </p>
            </div>
        </div>
    </a>

    <a href="">
        <div id="kasht">
            <img class="imgdoctorlaserficial" src="{% static "img/beauty_treatment_2.jpg" %}" alt="doctor">
            <div class="boxdoctormassagefisial">
                <p class="textdoctorficialmassge">
                    کاشت
                </p>
            </div>
        </div>
    </a> 
    <div id="gap3"></div>    
        <div class="moraba1">
            <div class="tomoraba1">
                <a href="">
                    <img class="imgtomoraba" src="{% static "img/doctor.jpg" %}" alt="doctor">
                    <p class="textmoraba">
                        رزرو آنلاین
                    </p>
                </a>
            </div>
        </div>
        <div class="moraba2">
            <div class="tomoraba2">
                <a href="">
                    <img class="imgtomoraba" src="{% static "img/massage1.jpg" %}" alt="doctor">
                    <p class="textmoraba">
                        نمونه کارها
                    </p>
                </a>
            </div>
        </div>
        <div class="moraba3">
            <div class="tomoraba3">
                <a href="">
                    <img class="imgtomoraba" src="{% static "img/beauty.jpg" %}" alt="doctor">
                    <p class="textmoraba">
                        تخفیف ها
                    </p>
                </a>
            </div>
        </div>
        <div class="moraba4">
            <div class="tomoraba4">
                <a href="">
                    <img class="imgtomoraba" src="{% static "img/team3.jpg" %}" alt="doctor">
                    <p class="textmoraba">
                        ثبت نظرات
                    </p>
                </a>
            </div>
        </div>

        

    <script src="{% static "js/home.js" %}">    </script>
    


    
</body>
</html>